html, body {
  border:10px;

  height:100%;
  max-width: 100%;
  overflow-x: hidden;
  /* overfleow-y: hidden; */
  font-family: Arial, Helvetica, sans-serif;
}

py-config {
  display: none;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  margin: 0.4em;
  font-weight: normal;

  align-self: flex-start;
}

button, input::file-selector-button {
  /* display: inline-block; */
  outline: 0;
  border: 2;
  cursor: pointer;
  background-color: #4299e1;
  border-radius: 0.5em;
  padding: 6px 10px;
  font-size: 1em;
  font-weight: bold;
  color: white;
  line-height: 1.4em;
  margin: 1px;
}



.center-buttons{
  display: flex;
  margin: auto 0em;
}

.center-buttons button{
  flex-grow: 1;
  flex-basis: 0;
}

.container {
  display: flex;
  flex-direction: column;

  background-color: pink;
  height: 100%;
  width: 100%;
}

.slicer {
  	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 40vh;

  display: flex;
  flex-direction: row;

  max-height: 50vh
}

.gcode-sender {
  	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 40vh;

  display: flex;
  flex-direction: row;

  max-height: 50vh;

}

.side-pannel {
  	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;

    border: 2px;
    border-style: solid;
    border-radius: 20px;
    margin: 5px;
    background-color: #CCCCCC;

    padding: 0px 20px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.main-area {
  	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;

        display: flex;
        flex-direction: column;
}

.Send-Command { grid-area: Send-Command; }

.Blank { grid-area: Blank; }

.Gcode-History {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2em 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Banner"
    ".";
  grid-area: Gcode-History;
  background-color: red;
}

.Banner { grid-area: Banner; }

.Slicing-Area {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2em 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Banner2"
    ".";
  grid-area: Slicing-Area;
  background-color: green;
  max-height: 60vh;
}

.Banner2 { grid-area: Banner2; }

.Slicing-commands {
  grid-area: Slicing-commands;
  background-color: #CCCCCC;

  border: 2px;
    border-style: solid;
    border-radius: 20px;
    margin: 5px;
}

.Command-Buttons { grid-area: Command-Buttons; 

    border: 2px;
    border-style: solid;
    border-radius: 20px;
    margin: 5px;
  background-color: #CCCCCC;
  }

#output-image {
  padding: 1em;
}
.Button-Area {
  padding: 1em;
  text-align: center;
}


#serialResults {
    font-family: monospace;
    white-space: pre;
    /* height: calc(100% - 120px); */
    height: auto;
    /* width: calc(100% - 20px); */
    /* max-height: 40vh; */
    border-style: solid;
    overflow: scroll;
    padding: 10px;
    margin: 0px;

    flex-grow: 1;
}

